<extend name="Layout:base_index" />
<block name="css"></block>

<block name="content">
  <article class="cl pd-20" style="width:440px; margin:0 auto;">
   <form action="{:U(checkAddStudent)}" method="post" class="form form-horizontal" id="form-member-add">
     <div class="row cl">
       <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>姓名</label>
       <div class="formControls col-xs-8 col-sm-9">
         <input type="text" class="input-text" value="" placeholder="" id="user_name" name="user_name">
       </div>
     </div>
     <div class="row cl">
       <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>性别</label>
       <div class="formControls col-xs-8 col-sm-9 skin-minimal">
         <div class="radio-box">
           <input name="sex" type="radio" id="sex-1" value="男" checked>
           <label for="sex-1">男</label>
         </div>
         <div class="radio-box">
           <input type="radio" id="sex-2" name="sex" value="女">
           <label for="sex-2">女</label>
         </div>
       </div>
     </div>
     <div class="row cl">
       <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>学号</label>
       <div class="formControls col-xs-8 col-sm-9">
         <input type="text" class="input-text" placeholder="" name="number" id="number">
       </div>
     </div>

     <div class="row cl">
       <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>入学时间</label>
       <div class="formControls col-xs-8 col-sm-9">
         <input type="text" onfocus="selecttime(2)" id="datemin" name="time" class="input-text Wdate" >
       </div>
     </div>
     <div class="row cl">
       <label class="form-label col-xs-4 col-sm-3">专业</label>
       <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
         <select class="select" size="1" name="major">
           <option value="" selected>请选择专业</option>
           <option value="网络工程">网络工程</option>
           <option value="计算机信息与科学">计算机信息与科学</option>
           <option value="电子信息工程">电子信息工程</option>
         </select>
         </span> </div>
     </div>
     <div class="row cl">
       <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
         <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
       </div>
     </div>
   </form>
  </article>
</block>
<block name="js">
  <script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
  <script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
  <script type="text/javascript">
  $(function(){
  	$('.table-sort').dataTable({
  		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
  		"bStateSave": true,//状态保存
  		"aoColumnDefs": [
  		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
  		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
  		]
  	});
  	$('.table-sort tbody').on( 'click', 'tr', function () {
  		if ( $(this).hasClass('selected') ) {
  			$(this).removeClass('selected');
  		}
  		else {
  			table.$('tr.selected').removeClass('selected');
  			$(this).addClass('selected');
  		}
  	});
  });
  /*用户-添加*/
  function member_add(title,url,w,h){
  	layer_show(title,url,w,h);
  }
  /*用户-查看*/
  function member_show(title,url,id,w,h){
  	layer_show(title,url,w,h);
  }
  /*用户-停用*/
  function member_stop(obj,id){
  	layer.confirm('确认要停用吗？',function(index){
  		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
  		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
  		$(obj).remove();
  		layer.msg('已停用!',{icon: 5,time:1000});
  	});
  }

  /*用户-启用*/
  function member_start(obj,id){
  	layer.confirm('确认要启用吗？',function(index){
  		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
  		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
  		$(obj).remove();
  		layer.msg('已启用!',{icon: 6,time:1000});
  	});
  }
  /*用户-编辑*/
  function member_edit(title,url,id,w,h){
  	layer_show(title,url,w,h);
  }
  /*密码-修改*/
  function change_password(title,url,id,w,h){
  	layer_show(title,url,w,h);
  }
  /*用户-删除*/
  function member_del(obj,id){
  	layer.confirm('确认要删除吗？',function(index){
  		$(obj).parents("tr").remove();
  		layer.msg('已删除!',{icon:1,time:1000});
  	});
  }

  </script>
</block>
