<extend name="Layout:base_index" />
<block name="css"></block>
<block name="content">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i>
		首页 <span class="c-gray en">&gt;</span>
		学生成绩 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>

	<article class="cl pd-20 ">
		<div class="text-c mb-20">
					<form class="Huiform" method="post" action="{:U('grade/studentGrade?search=1')}" target="_self">
						<input type="text" class="input-text" style="width:250px" placeholder="按 id 或 姓名 搜索" id="" name="content">
						<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索学生</button>
					</form>
		</div>
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<tr class="text-c">
				<th  width="25">id</th>
				<th  width="125">姓名</th>
				<th  width="125">专业</th>
				<th  width="25">班级</th>
				<th  width="125">课程名称</th>
				<th  width="75">平时成绩</th>
				<th  width="75">期末成绩</th>
				<th  width="75">总评</th>
				<th  width="75">学分</th>

			</tr>
			<foreach name="list" item="vo">
					<tr class="text-c">
						<td>{$vo.id}</td>
						<td >
							<u style="cursor:pointer" class="text-primary">
								<a href="{:U('grade/student?s_id='.$vo['id'])}">{$vo.name}</a>
							</u> 		
						</td>
						<td>{$vo.major}</td>
						<td>{$vo.class}</td>
						<td>{$vo.course_name}</td>
						<td>{$vo.usual_score}</td>
						<td>{$vo.final_score}</td>
						<td>{$vo.totality}</td>
						<td>{$vo.credit}</td>
					</tr>
			</foreach>

		</table>
	</article>
</block>
<block name="js"></block>
